<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project.Properties.Settings.QLCKConnectionString"
            connectionString="Data Source=MACBOOK-PRO\SQLEXPRESS;Initial Catalog=QLCK;Persist Security Info=True;User ID=hieu;Password=159753;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>